body{
    background-image: url(../../assets/images/fire.jpg);
    background-size: cover;
}

.btn{
    color: white;
    background-color: firebrick;
}
 .btn:hover{
    background-color: yellow;
    box-shadow: 2px 3px orangered;
    color: orangered;
    animation: glow 2s infinite alternate;
 }   

.main-content{
    margin: 0;
    padding: 0;
    height: fit-content;
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.buttons-container{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
@keyframes glow{
    from{
        box-shadow: 0 0 5px -5px ;
    }
    to{
        box-shadow: 0 0 5px 5px ;
    }
}